html {
    scroll-behavior: smooth;
  }
  
.justify-content-end {
    margin-left:auto;
}

.nav-link {
    color:white;
}

.circle{
    width: 65px;
    height: 65px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-block;
    box-shadow: 2px 6px 10px black;
    transition: all 0.5s ease-in-out;
    transition-duration: 0.5s;
}

#bioPic { 
    width:50px;
    height:50px;
    position: relative;
    left:7px;
    top:7px;
    transition: all 0.5s ease-in-out;
    transition-duration: 0.5s;
}

#bioPic:hover { 
    width: 75px;
    height: 75px;
    transition: all 0.5s ease-in-out;
    transition-duration: 0.5s;
}

.circle:hover { 
    width: 90px;
    height: 90px;
    transition: all 0.5s ease-in-out;
    transition-duration: 0.5s;
}

#bg {
    background-image: url("../img/GokuLoop.gif");
    /* min-height: 100%; */
    /* background-attachment: fixed; */
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    margin-top:55px
}

#filter  { 
    width:auto;
    height:650px;
    background: rgba(139, 61, 61, 0.5);
    z-index:2;
    margin-top: 75px
}

#About {
    position: relative;
        bottom:80px
    }

#Portfolio {
        position: relative;
        bottom:80px
    }
    
.btn   { 
    color:white;
    border: 2px solid rgba(255, 255, 255);
    background: rgba(139, 61, 61, 0.1);
    border-radius: 5px;
    font-size: 12px;
    margin: auto;
    display:block;
    padding: 10px 25px;
    width:200px;
    text-align: center;
    animation-delay: 3s;
    transition-duration: 0.5s;
}

.btn:hover { 
    background-color: rgb(255, 255, 255);
    color:rgba(139, 61, 61, 0.5);
    transition-duration: 0.5s;
}

.text1 { 
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
    padding: 50px;
    font-size:100px;
    color:white;
    text-align:center;
    animation-delay: 1s;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    }

.text2 { 
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
    padding:40px;
    font-size:100px;
    color:white;
    text-align:center;
    animation-delay: 2s;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

#about  { 
    text-align: center;
    margin-top: 50px;
}

#portfolio { 
    text-align: center;
    padding-top: 25px;
 }
    
#para   { 
    text-align: center;
    margin-bottom: 100px;
}
    
#contact {
    text-align:center;
        margin-bottom: 25px;
        color:white
    }

.footer { 
    background-color:#343a40}


.squares {
    margin:50px auto;
    }

#Section3 { 
    background-color: #f5f5f5;
    height: 750px;
    margin-bottom:50px;
    }

#Section2 { 
    margin-bottom:50px
}

hr {    
    width:500px
}

#trivia {
    content: url("../img/trivia.png");
    width:350px;
    height:250px;
    transition: all 0.5s ease-in-out;
    transition-duration: 0.5s;
                    
}

#trivia:hover {  
    filter: contrast(200%);
    width:400px;
    height:300px;
    transition: all 0.5s ease-in-out;
    transition-duration: 0.5s;
}

#project {
    content: url("../img/project.png");
    width:350px;
    height:250px;
    transition: all 0.5s ease-in-out;
    transition-duration: 0.5s;
}

#project:hover {  
    filter: contrast(200%);
    width:400px;
    height:300px;
    transition: all 0.5s ease-in-out;
    transition-duration: 0.5s;
}
#giphy {content: url("../img/giphy.png");
    width:350px;
    height:250px;
    transition: all 0.5s ease-in-out;
    transition-duration: 0.5s;
}

#giphy:hover {  
    filter: contrast(200%);
    width:400px;
    height:300px;
    transition: all 0.5s ease-in-out;
    transition-duration: 0.5s;
}
#wine {
    content: url("../img/wineapp.png");
    width:350px;
    height:250px;
    transition: all 0.5s ease-in-out;
    transition-duration: 0.5s;
}

#wine:hover {   filter: contrast(200%);
    width:400px;
    height:300px;
    transition: all 0.5s ease-in-out;
    transition-duration: 0.5s;
}
#house {
    content: url("../img/house.png");
    width:350px;
    height:250px;
    transition: all 0.5s ease-in-out;
    transition-duration: 0.5s;
}
#house:hover {  
    filter: contrast(200%);
    width:400px;
    height:300px;
    transition: all 0.5s ease-in-out;
    transition-duration: 0.5s;
}
#hangman {
    content: url("../img/hangman.png");
    width:350px;
    height:250px;
    transition: all 0.5s ease-in-out;
    transition-duration: 0.5s;
}
#hangman:hover {  
    filter: contrast(200%);
    width:400px;
    height:300px;
    transition: all 0.5s ease-in-out;
    transition-duration: 0.5s;
}








@media screen and (max-width: 980px) {

    #trivia {
        content: url("../img/trivia.png");
        width:100px;
        height:50px;
        transition: all 0.5s ease-in-out;
        transition-duration: 0.5s;
                        
    }
    #trivia:hover {  
        filter: contrast(200%);
        width:150px;
        height:100px;
        transition: all 0.5s ease-in-out;
        transition-duration: 0.5s;
    }
    
    #project {
        content: url("../img/project.png");
        width:100px;
        height:50px;
        transition: all 0.5s ease-in-out;
        transition-duration: 0.5s;
    }

    #project:hover {  
        filter: contrast(200%);
        width:150px;
        height:100px;
        transition: all 0.5s ease-in-out;
        transition-duration: 0.5s;
    }
  
    #giphy {content: url("../img/giphy.png");
        width:100px;
        height:50px;
        transition: all 0.5s ease-in-out;
        transition-duration: 0.5s;
    }

    #giphy:hover {  
        filter: contrast(200%);
        width:150px;
        height:100px;
        transition: all 0.5s ease-in-out;
        transition-duration: 0.5s;
    }

    #wine {
        content: url("../img/wineapp.png");
        width:100px;
        height:50px;
        transition: all 0.5s ease-in-out;
        transition-duration: 0.5s;
    }

    #wine:hover {   filter: contrast(200%);
        width:150px;
        height:100px;
        transition: all 0.5s ease-in-out;
        transition-duration: 0.5s;
    }
 
    #house {
        content: url("../img/house.png");
        width:100px;
        height:50px;
        transition: all 0.5s ease-in-out;
        transition-duration: 0.5s;
    }

    #house:hover {  
        filter: contrast(200%);
        width:150px;
        height:100px;
        transition: all 0.5s ease-in-out;
        transition-duration: 0.5s;
    }
   
    #hangman {
        content: url("../img/hangman.png");
        width:100px;
        height:50px;
        transition: all 0.5s ease-in-out;
        transition-duration: 0.5s;
    }

    #hangman:hover {  
        filter: contrast(200%);
        width:150px;
        height:100px;
        transition: all 0.5s ease-in-out;
        transition-duration: 0.5s;
    }
    
    #Section3 { 
        background-color: #f5f5f5;
        height: 350px;
        margin-bottom:50px;
        }

    .text1 { 
        font-family: 'Anton', sans-serif;
        letter-spacing: 2px;
        padding: 50px;
        font-size:50px;
        color:white;
        text-align:center;
        animation-delay: 1s;
        text-shadow: 1px 1px 2px rgb(0, 0, 0);
        }
        
    .text2 { 
        font-family: 'Anton', sans-serif;
        letter-spacing: 2px;
        padding:40px;
        font-size:50px;
        color:white;
        text-align:center;
        animation-delay: 2s;
        text-shadow: 1px 1px 2px rgb(0, 0, 0);
        }

        hr {
            width: auto;
        }
}